<nav class="navbar fixed">
  <ul>
    <li><a href="#contacts">Contacts</a></li>
    <li><a href="#convention">Convention de stage</a></li>
    <li><a href="#lettre">Lettre d'affectation</a></li>
  </ul>
</nav>



<section class="contacts" id="contacts">
  <h1 style=" font-size: 2em;margin-top: 90px;text-align: center;">Nos partenaires</h1>
  <div class="row">
    <div class="course-col">
      <img src="assets/s.png" alt="Logo Sofrecom">
      <h2>Sofrecom</h2>
      <p>Adress : Immeuble Matrix, Rue du Lac de Constance, Tunis <br>
         Telephone: 58545365-71162800  <br>
         E-mail: Imen.samaali&#64;sofrecom.com </p>
    </div>
    <div class="course-col">
      <img src="assets/actia.png" alt="Logo Actia">
      <h2>Actia</h2>
      <p>Adress : Technopole el Ghazella rue Newton ,Ariana <br>
         Telephone: 70687917  <br>
         E-mail:nourreddine.benothmen&#64;actia-enginearing.tn </p>
    </div>
    <div class="course-col">
      <img src="assets/sa.png" alt="Logo Sagemcom">
      <h2>Sagemcom</h2>
      <p>Adress : 21, borj ghorbel ben Arous<br>
         Telephone: 79100200 <br>
         E-mail: cheima.elarbi&#64;sagemcom.com</p>
    </div>
    <div class="course-col">
      <img src="assets/f.png" alt="Logo Focus">
      <h2>Focus</h2>
      <p>Adress : Lot 33,Z I chotrana II Ariana<br>
         Telephone:70106100<br>
         E-mail: contact&#64;focus-corporation.com</p>
    </div>
    <div class="course-col">
      <img src="assets/o.png" alt="Logo Orange">
      <h2>Orange</h2>
      <p>Adress : Centre Urbain Nord <br>
         Telephone: 50012255 <br>
         E-mail: mainz.ezzaier&#64;orange.com</p>
    </div>
    <div class="course-col">
      <img src="assets/sofi.png" alt="Logo SofiTech">
      <h2>SofiTech</h2>
      <p>Adress : 12 Rue Newton Ariana <br>
         Telephone:71856900 <br>
         E-mail: ahmed.daoud&#64;sofia-technologies.com</p>
    </div>
    <div class="course-col">
      <img src="assets/tel.webp" alt="Logo Telnet">
      <h2>Telnet</h2>
      <p>Adress : Lac Le man Street les berges du lac 1053 Tunis <br>
         Telephone: 58 983 294 <br>
         E-mail: hassen.nefzi&#64;groupe-telnet.net </p>
    </div>
    <div class="course-col">
      <img src="assets/go.png" alt="Logo Go My Code">
      <h2>Go My Code</h2>
      <p>immeuble NEO rue du laclochness 1053, Tunis <br>
         Telephone: 52122610-31 314 570 <br>
         E-mail: yahya&#64;gomycode.tn</p>
    </div>
    <div class="course-col">
      <img src="assets/tt.png" alt="Logo Tunisie Telecom">
      <h2>Tunisie Telecom</h2>
      <p>Adress : Parc Technologique El Ghazela<br>
         Telephone:97444560<br>
         E-mail:ikram.chedly&#64;tunisietelecom.tn </p>
    </div>
  </div>
</section>
<section class="convention" id="convention">
  <h1>Convention de stage</h1>
  <img src="assets/convention.png">
</section>
<section class="lettre" id="lettre">
  <h1>Lettre d'affectation</h1>
  <img src="assets/lettre.png">
</section>
